html,
body {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 2560px;
  background: #f4f5f7;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: px;
}
.nav-links a {
  color: black;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 21px;
  font-family: "Modern No. 20";
}
.menu li a:hover {
  color: #4c9e9e;
}
.menu li {
  padding: 5px 25px;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
.prada {
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
.marg {
  margin: 0 80px 0 80px;
}
.girl {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 320px;
}

/* making the navigation bar responsive by diplaying the hamburger menu */

.login {
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  background: #c4c4c4;
}
.login a {
  text-decoration: none;
  padding: 15px;
  color: black;
}
.login a:hover {
  text-decoration: underline;
}
div.login a:nth-child(2) {
  padding-left: 21%;
}

div.login a:nth-child(1) {
  padding-left: 42%;
}
.blockfirst {
  text-align: center;
  font-size: 21px;
}
.blockfirst h1 {
  font-family: "Modern No. 20";
}
.blockfirst button {
  background-color: #f4f5f7;
  height: 50px;
  width: 220px;
}
.blockfirst button:hover {
  background-color: bisque;
}
.gridok {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gridok li {
  list-style-type: none;
}
.gridok li img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 320px;
  padding: 20px;
}
.blocksecond {
  display: flex;
  font-size: 19px;
}
.blocksecond p {
  padding: 435px 130px 0 130px;
}
.blocksecond img {
  width: 50%;
  height: 100%;
  max-width: 100%;
  min-width: 320px;
}
.spanok {
  height: 50px;
  width: 220px;
  background-color: #f4f5f7;
}
.spanok:hover {
  background-color: bisque;
}

.newarrival {
  text-align: center;
}
.blockthird {
  margin: 0 80px 0 80px;
}
.blockthird img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 320px;
}
footer {
  height: 321px;
  width: auto;
  background: white;
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-size: 14px;
}

i {
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media all and (max-width: 1139px) {
  body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    color: black;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    right: 0;
    left: 0;
    text-align: center;
    padding: 70px 0;
  }
  .menu li:hover {
    display: inline-block;
    color: bisque;
    transition: 0.3s ease;
  }
  .menu li a {
    color: rgb(56, 56, 94);
  }
  .menu li + li {
    margin-top: 10px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    padding: 0;
  }
  .prada {
    padding: 0;
  }
  .marg {
    margin: 0;
  }
  .blocksecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blocksecond img {
    width: 100%;
    padding-bottom: 50px;
  }
  .blocksecond p {
    padding: 0;
    padding: 20px 0 40px 0;
  }
  .blockthird {
    margin: 0;
  }
  footer p:nth-child(1) {
    display: none;
  }
  footer p:nth-child(2) {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .afraid {
    padding-top: 100px;
  }
  .afraid strong i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .afraid p i {
    font-size: 40px;
    padding: 20px;
  }
  footer p {
    font-size: 15px;
    text-align: center;
  }
  .mid strong {
    display: none;
  }

  footer a {
    display: none;
  }
}
.blockfirst {
  margin-top: 40px;
  margin-bottom: 40px;
}
.blockfirst h1,
p {
  font-size: 15px;
}
.blocksecond {
  display: flex;
}
.blocksecond p {
  font-size: 15px;
  text-align: center;
  margin: 40px 26px 0 20px;
}
.blocksecond img {
  width: 52%;
}
.login {
  display: flex;
  justify-content: flex-end;
}
.login a {
  font-size: 16px;
}

.login a:nth-child(1) {
  display: none;
}

.blockthird {
  padding-bottom: 40px;
}

.newarrival {
  font-size: 15px;
}
footer {
  display: flex;
}
.afraid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 69px;
}
.afraid i {
  font-size: 30px;
}
footer p {
  padding: 40px 100px 20px 100px;
}
